#edit_page.col-md-10.col-md-offset-1
	.row
		.panel.panel-default
			.panel-heading
				%h1 Edit Your Plant
			.panel-body
				.current_image
					%strong.center Current Image
					= image_tag @plant.image.url(:medium)
				= render 'form'
