/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/glyphicons';

@import url('app/assets/stylesheets/demo.css');
@import url('app/assets/stylesheets/common.css');
@import url('app/assets/stylesheets/icons.css');

cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown > span {
	color: #4d8c9d;
}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #4d8c9d;
	color: #fff;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.cd-dropdown span[class^="icon-"]:before,
.cd-dropdown span[class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	position: absolute;
	font-size: 40px;
	line-height: 40px;
	width: 50px;
	top: 50%;
	left: 15px;
	margin-top: -20px;
	text-align: center;
}
.icon-monkey:before {
	content: "\38";
}
.icon-bear:before {
	content: "\28";
}
.icon-squirrel:before {
	content: "\6f";
}
.icon-elephant:before {
	content: "\65";
}
.icon-google-plus:before{
	content: "\21";
}
.icon-facebook:before {
	content: "\22";
}
.icon-twitter:before {
	content: "\23";
}
.icon-github:before {
	content: "\24";
}
.icon-tux:before {
	content: "\25";
}
.icon-apple:before {
	content: "\26";
}
.icon-android:before {
	content: "\27";
}
.icon-windows:before {
	content: "\29";
}
.icon-sun:before {
	content: "\2a";
}
.icon-cloudy:before {
	content: "\2b";
}
.icon-weather:before {
	content: "\2c";
}
.icon-lightning:before {
	content: "\2d";
}
.icon-rainy:before {
	content: "\2e";
}
.icon-windy:before {
	content: "\2f";
}
.icon-chrome:before {
	content: "\30";
}
.icon-firefox:before {
	content: "\31";
}
.icon-IE:before {
	content: "\32";
}
.icon-opera:before {
	content: "\33";
}
.icon-safari:before {
	content: "\34";
}
.icon-finder:before {
	content: "\35";
}
.icon-camera:before {
	content: "\3a";
}
.icon-diamond:before {
	content: "\36";
}
.icon-rocket:before {
	content: "\37";
}
.icon-cars:before {
	content: "\39";
}
.icon-clock:before {
	content: "\3b";
}
.icon-star:before {
	content: "\3c";
}

.cd-dropdown,
.cd-select {
	position: relative;
	width: 300px;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
  margin-bottom: -70px;
  margin-left:15px;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
  color: #fff;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
  color:#fff;
}

.cd-dropdown ul li {
	display: block;
  color: #fff;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 60px;
	padding: 0 30px 0 75px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
  color:#fff;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  background-color: #e5621b;
  color: #fff;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}



/* Override Bootstrap 3 font locations*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
	background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.navbar-default {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.navbar-search {
			float:none;
	    margin:0 auto;
			margin-top: 13px;
	    display: block;
	    text-align: center;
}

.navbar-fixed-side {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	/*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/

	width: 240px;
  background-color: #E9E9E9;
}


.caret-container {
	margin-right: 10px;
	float: right;
	height: 40px;
	position:relative;
  z-index:1000;
}

.glyphicon-container{
	margin-right: 10px;
	float: right;
	height: 40px;
	position:relative;
  z-index:1000;
}

.submenu-glyphicon-container{
	//margin-right: 10px;
	float: left;
	height: 40px;
	position:relative;
  z-index:1000;
}

.glyphicon {
	margin-top: 13px;
	margin-left: 15px;
	margin-right: 10px;
}

.glyphicon-chevron-down {
	margin-top: 12px;
}

.nav-container {
	width: 238px;
}

/*button {
  width:30px;
  height:30px;
}
button > .glyphicon {
  float:none;
  margin:0 auto;
  margin-left: -6px;
  display: block;
  text-align: center;
}
#search-form {
  min-height:40px;
}*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 50%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
  float:none;
  margin:0 auto;
  margin-left: -6px;
  display: block;
  text-align: center;
}


#soil {
  background-color:#e5621b;
  margin-top: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  margin-bottom: 2px;
}

#protective {
  background-color:#05b4b7;
  margin-top: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  margin-bottom: 2px;
}

#adaptive {
  background-color:#a83464;
  margin-top: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  margin-bottom: 2px;
}

#utility {
  background-color:#18ce4c;
  margin-top: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  margin-bottom: 2px;
}

#wildlife {
  background-color:#d62839;
  margin-top: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  margin-bottom: 2px;
}

#horticultural {
  background-color:#f2a61a;
  margin-top: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  margin-bottom: 2px;
}

.caret-up {
	border-top-width: 0;
	border-bottom: 4px solid;
	margin-top: 20px;
}
.caret-down {
	margin-top: 20px;
}

#plants {
  margin: 0 auto;
  width: 100%;
  .box {
	  margin: 10px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#plant_show {
	.panel-heading {
		padding: 0;
	}
	.plant_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

textarea {
	min-height: 250px;
}

/* Trying out clickable icons with colour change */

a {
	color:  black; //colour when not hovered
}

a:hover {
	color:  black;
	text-decoration: none; //get rid of underscore
}

a:hover > .glyphicon-leaf { //when hovering over the icon
	color: #d00000;
 }
